.header {
    outline: 1px solid red;

    .container {
        @include margin-top;

        .navigation-list {
            margin-bottom: 92px;
            @include flex;

            &__item {
                &:not(:last-child) {
                    margin-right: 100px;
                }
            }

            &__link {
                font-family: getFont("font-family");
                color: getColor("link-color");

                &:hover {
                    color: getColor("active-link-color");
                }
            }
        }
    }
}