.navigation-list {
    margin-bottom: 92px;
}

.navigation-item:not(:last-child) {
    margin-right: 100px;
}

.navigation-link {
    font-family: var(--font-family);
    color: var(--link-color);
}

.navigation-link:hover {
    color: var(--active-link-color);
}

.margin-bottom {
    margin-bottom: 66px;
}

.margin-top {
    margin-top: 71px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}