.container {
    @include margin-bottom;

    .galery-list {
        column-gap: 65px;
        row-gap: 130px;
        margin-bottom: 90px;
        outline: 1px solid red;

        @include flex-wrap;

        &__item {
            width: 420px;
            height: 546px;
            outline: 1px dotted blue;
        }

        &__img {
            margin-bottom: 65px;
        }

        &__link {
            display: block;
            margin-bottom: 32px;
            font-family: getFont('second-family');
            font-weight: 300;
            color: getColor('second-color');

            &:hover {
                color: getColor('active-link-color');
            }
        }

        &__title {
            margin-bottom: 40px;
            font-size: 30px;
        }
    }
}