@mixin margin-bottom {
    margin-bottom: 66px;
}

@mixin margin-top {
    margin-top: 71px;
}

@mixin flex {
    display: flex;
    justify-content: center;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin button($width, $height, $font-size){
    display: block;
    font-family: getFont('font-family');
    color: getColor('main-color');
    width: $width;
    height: $height;
    font-size: $font-size; 
}

//! ----------- SASS-outline міксін  -----------
// outline: 1px solid tomato;

//todo  міксін var.1
// @mixin o($size, $type, $color) {
//     outline: $size $type $color;
// }

//todo міксін var.2  
@mixin outline($size: 1px, $type: solid, $color: red) {
    outline: $size $type $color;
}

@mixin galleryItemBackgroundColor($colors) {
    @each $color in $colors {
        &__item--#{$color} {
            background-color: #{$color};
        }
    }

}